/* Ejemplo de estilos aplicando la metodología SUITCSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos globales */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.3;
    background-color: beige;
    color: #333;
  }
  
  /* Header */
  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #183022;
    padding: 1rem 2rem;
  }
  
  .Header-logo {
    max-width: 50px;
  }
  
  .Header-nav {
    flex-grow: 1;
    text-align: right;
  }
  
  .Header-list {
    list-style: none;
  }
  
  .Header-item {
    display: inline-block;
    margin-left: 1rem;
  }
  
  .Header-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  /* Main */
  .Main {
    padding: 0px;
    
  }
  
  .Main-hero {
    text-align: center;
  }
  
  
  .Main-image {
    max-width: 70%;
    height: auto;
    border-radius: 1px;
  }
  
  /* Tienda */
  .Tienda {
    padding: 1rem;
  }
  
  .Tienda-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .Tienda-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
  }
  
  .Tienda-itemImage {
    max-width: 60%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  
  .Tienda-itemTitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .Tienda-itemPrice {
    font-size: 1.2rem;
    color: #183022;
    margin-bottom: 1rem;
  }
  
  .Tienda-itemButton {
    background-color: #183022;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .Tienda-itemButton:hover {
    background-color: #183022;
  }
  
  /* Carrito */
  .Carrito {
    padding: 2rem;
  }
  
  .Carrito-title {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .Carrito-list {
    list-style: none;
    margin-bottom: 2rem;
  }
  
  .Carrito-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .Carrito-itemRemove {
    background-color: #0d3f20;
    color: #fff;
    border: none;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .Carrito-itemRemove:hover {
    background-color: #0d3f20;
  }
  
  .Carrito-summary {
    text-align: right;
    font-size: 1.2rem;
  }
  
  /* Contenido (Términos y Aviso Legal) */
  .Content {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .Content-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .Content-text {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  /* Footer */
  .Footer {
    background-color: #183022;
    color: #fff;
    text-align: center;
    padding: 1rem 2rem;
    margin-top: 2rem;
  }
  